.login {
    width      : 100%;
    box-sizing : border-box;
    padding    : 12px 15rpx;
    font-weight: bold;

    .input {
        background-color: #fff;
    }

    .btn {
        margin: 30rpx 0;
    }
}